<app-sider>
  <button class="addBtn" nz-button [nzType]="'primary'" (click)="showModal()">
    <span>Add Room</span>
  </button>
  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="update ? 'Edit Room' : 'Add New Hostel'"
    nzWidth="700px"
    nzClosable="false"
    [nzFooter]="modalFooter"
  >
    <ng-container *nzModalContent>
      <form
        name="form"
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm($event)"
      >
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Room Id</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter Room Id!">
            <input
              formControlName="id"
              nz-input
              type="text"
              placeholder="Enter Room Id"
              style="width: 100%"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Hostel Id</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please Select Hostel Id!">
            <nz-select
              formControlName="hostelId"
              nzPlaceHolder="Select Hostel Id"
              style="width: 100%"
              [nzOptions]="hostels"
            >
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired [nzSpan]="6">Space</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter Space!">
            <input
              style="width: 100%"
              formControlName="space"
              nz-input
              type="number"
              placeholder="Enter Space"
            />
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel($event)">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="submitForm($event)">
        {{ update ? "Update" : "Add" }}
      </button>
    </ng-template>
  </nz-modal>

  <div class="table">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Hostel Id</th>
          <th>Room Id</th>
          <th>Space</th>
          <th>Avalability</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.hostelId }}</td>
          <td>{{ data.id }}</td>
          <td>{{ data.space }}</td>
          <td>
            {{ data.availability === true ? "Available" : "Unavailable" }}
          </td>
          <td>
            <a (click)="updateModal(data)">Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this room?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteRoom(data._id)"
            >
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</app-sider>
